{{ form_start(form) }}
<div class="row">
    <div class="d-flex justify-content-end">
        <a href="{{ path('admin_user_index') }}" class="btn btn-success mb-3">Retour</a>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Choisir les nouveau roles pour <strong>{{ user.getIdentity }}</strong></h5>
            </div>
            <div class="card-body">
                {{ form_widget(form.roles) }}
            </div>
        </div>
        <div class="text-end mb-4">
            <a href="{{ path('admin_user_index') }}" class="btn btn-danger w-sm">Annuler</a>
            <button type="submit" class="btn btn-success w-sm">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
