<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{{ asset('/images/logo-sm.png') }}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{{ asset('/images/logo-dark.png') }}" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="{{ asset('/images/logo-sm.png') }}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{{ asset('/images/logo-light.png') }}" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>
    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{{ path('app_home') }}">
                        <i class="mdi mdi-speedometer"></i> <span>Evénements</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{{ path('carpool_index') }}">
                        <i class="mdi mdi-speedometer"></i> <span>Covoiturage</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#">
                        <i class="mdi mdi-speedometer"></i> <span>Contact</span>
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="mdi mdi-speedometer"></i> <span data-key="t-dashboards">Administration</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('admin_event_index') }}" class="nav-link"> Liste des événements </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('admin_carpool_index') }}" class="nav-link"> Liste des covoiturages </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('admin_user_index') }}" class="nav-link"> Liste des parents </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('admin_user_child_index') }}" class="nav-link"> Liste des enfants </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarArchive" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="mdi mdi-speedometer"></i> <span data-key="t-dashboards">Archives</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarArchive">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('admin_event_index', {'is_delete': true}) }}" class="nav-link"> Liste des événements </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('admin_carpool_index', {'is_delete': true}) }}" class="nav-link"> Liste des covoiturages </a>
                                </li>
                                {# <li class="nav-item">
                                    <a href="{{ path('admin_user_index', {'is_delete': true}) }}" class="nav-link"> Liste des parents </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('admin_user_child_index', {'is_delete': true}) }}" class="nav-link"> Liste des enfants </a>
                                </li> #}
                            </ul>
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>