<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Evénements Inscrits</h5>
        <div class="table-responsive">
            {% if events is empty %}
                <p>Aucun événement à afficher...</p>
            {% else %}
                <table class="table table-nowrap">
                    <thead>
                    <tr>
                        <th scope="col">Evénements</th>
                        <th scope="col">Date</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Enfants</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('event_show', {'event': event.id}) }}" class="fw-semibold">{{ event.title }}</a>
                            </th>
                            <td>
                                {{ event.date|date('l j F Y à H:i', 'Europe/Paris') }}
                            </td>
                            <td>
                                {{ event.address }}
                                <br>
                                {{ event.postalCode }}
                                {{ event.city }}
                            </td>
                            <td>
                                {% for child in event.child  %}
                                    {% if child.user == user %}
                                        {{ child.getIdentity }}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('event_show', {'event': event.id}) }}" class="btn btn-success">
                                    Voir
                                    <i class="ri-arrow-right-line align-middle"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>