<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Vos Covoiturages</h5>
        <div class="table-responsive">
            {% if carpools is empty %}
                <p>Vous n'avez aucun covoiturage...</p>
            {% else %}
                <table class="table table-nowrap">
                    <thead>
                    <tr>
                        <th scope="col">Evénement</th>
                        <th scope="col">Date</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Enfants</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for carpool in user_carpools %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('event_show', {'event': carpool.event.id}) }}" class="fw-semibold">{{ carpool.event.title }}</a>
                            </th>
                            <td>
                                {{ carpool.date|date('l j F Y à H:i', 'Europe/Paris') }}
                            </td>
                            <td>
                                {{ carpool.address }}
                                <br>
                                {{ carpool.postalCode }}
                                {{ carpool.city }}
                            </td>
                            <td>
                                {% for child in carpool.child  %}
                                    {{ child.getIdentity }}
                                    <br>
                                {% endfor %}
                            </td>
                            <td class="d-flex">
                                <a href="{{ path('carpool_show', {'carpool': carpool.id}) }}" class="btn btn-success me-2">
                                    Voir
                                    <i class="ri-arrow-right-line align-middle"></i>
                                </a>
                                {{ include('site/user/profile/_partials/_delete_carpool.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>