<div class="tab-pane fade" id="event-carpool" role="tabpanel">
    <div class="row g-4 mb-3 d-flex justify-content-end">
        <div class="col-sm-auto">
            <div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inviteMembersModal"><i class="ri-share-line me-1 align-bottom"></i> Etre covoitureur</button>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="team-list list-view-filter">
        {% for carpool in event.carpool %}
            <div class="card team-box">
                <div class="card-body px-4">
                    <div class="row align-items-center team-row">
                        <div class="col-lg-3 col">
                            <div class="team-profile-img">
                                <div class="avatar-lg img-thumbnail rounded-circle shadow">
                                    {% for user in carpool.users %}
                                        <img src="/uploads/images/user_pictures/{{ user.userPictureName }}" alt="Photo utilisateur" class="img-fluid d-block rounded-circle" />
                                    {% else %}
                                        <img src="{{ asset('/images/users/user-dummy-img.jpg') }}" alt="Photo utilisateur" class="img-fluid d-block rounded-circle" />
                                    {% endfor %}
                                </div>
                                <div class="team-content">
                                    <a href="#" class="d-block">
                                        {% for user in carpool.users %}
                                            <h5 class="fs-16 mb-1">{{ user.getIdentity }}</h5>
                                        {% endfor %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col mb-3">
                            <div class="row text-muted text-center">
                                <h5 class="mb-1">{{ carpool.address }} {{ carpool.postalCode }} {{ carpool.city }}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col mb-3">
                            <div class="row text-muted text-center">
                                <h5 class="mb-1">{{ carpool.date|date('d, M Y') }}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col mb-3">
                            <div class="row text-muted text-center">
                                <h5 class="mb-1">Places: {{ carpool.nbPlace }}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col">
                            <div class="text-end">
                                <a href="pages-profile" class="btn btn-light view-btn">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
        {% endfor %}
    </div>
    <!-- end team list -->
</div>