{{ form_start(form) }}
<div class="row">
    <div class="d-flex justify-content-end">
        <a href="{{ path('admin_user_child_index') }}" class="btn btn-success">Retour</a>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                {{ form_row(form) }}
            </div>
        </div>
        <div class="text-end mb-4">
            <a href="{{ path('admin_user_child_index') }}" class="btn btn-danger w-sm">Annuler</a>
            <button type="submit" class="btn btn-success w-sm">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>

{{ form_end(form) }}
