{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Profile Settings'}) }}

    {{ include('partials/head-css.html.twig') }}

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <div class="position-relative mx-n4 mt-n4">
                    <div class="profile-wid-bg profile-setting-img">
                        <img src="/images/profile-bg.jpg" class="profile-wid-img" alt="">
                        <div class="overlay-content">
                            <div class="text-end p-3">
                                <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                                    <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                                        <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% include "site/user/settings/_partials/_picture.html.twig" %}
                    <!--end col-->
                    <div class="col-xxl-9">
                        <div class="card mt-xxl-n5">
                            <div class="card-header">
                                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                            <i class="fas fa-home"></i> Infos personnel
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                            <i class="far fa-user"></i> Changer son mot de passe
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#children" role="tab">
                                            <i class="far fa-envelope"></i> Vos enfants
                                        </a>
                                    </li>
                                    {# <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#privacy" role="tab">
                                            <i class="far fa-envelope"></i> Privacy Policy
                                        </a>
                                    </li> #}
                                </ul>
                            </div>
                            <div class="card-body p-4">
                                <div class="tab-content">
                                    {% include "site/user/settings/_partials/_personnalDetails.html.twig" %}
                                    <!--end tab-pane-->
                                    {% include "site/user/settings/_partials/_changePassword.html.twig" %}
                                    <!--end tab-pane-->
                                    {% include "site/user/settings/_partials/_children.html.twig" %}
                                    <!--end tab-pane-->
                                    {# {% include "site/user/settings/_partials/_privacy.html.twig" %} #}
                                    <!--end tab-pane-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

            </div>
            <!-- container-fluid -->
        </div><!-- End Page-content -->

        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->



{{ include('partials/vendor-scripts.html.twig') }}

{% block javascripts %}
    <!-- profile-setting init js -->
    <script src="{{ asset('/js/pages/profile-setting.init.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('/js/app.js') }}"></script>
{% endblock %}
</body>

</html>