<div class="card">
    <div class="card-body">
        <div class="text-muted">
            <h6 class="mb-3 fw-semibold text-uppercase">Commentaire</h6>
            {{ carpool.comment|raw }}
            <div class="pt-3 border-top border-top-dashed mt-4">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div>
                            <p class="mb-2 text-uppercase fw-medium">Date du rendez-vous :</p>
                            <h5 class="fs-15 mb-0">{{ carpool.date|date('d/m/Y à H:i') }}</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div>
                            <p class="mb-2 text-uppercase fw-medium">Adresse :</p>
                            <h5 class="fs-15 mb-0">{{ carpool.address }} {{ carpool.postalCode }} {{ carpool.city }}</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div>
                            <p class="mb-2 text-uppercase fw-medium">Status :</p>
                            {% if carpool.child|length == carpool.nbPlace %}
                                <span class="badge rounded-pill bg-danger fs-12">Complet</span>
                            {% else %}
                                <span class="badge rounded-pill bg-success fs-12">Disponible</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>