<div class="tab-pane" id="changePassword" role="tabpanel">
    {{form_start(reset_password_form)}}
        <div class="row g-2">
            <div class="col-lg-4">
                <div>
                    {{ form_row(reset_password_form.password) }}
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div>
                    {{ form_row(reset_password_form.plainPassword.first) }}
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div>
                    {{ form_row(reset_password_form.plainPassword.second) }}
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-12">
                <div class="mb-3">
                    <a href="javascript:void(0);" class="link-primary text-decoration-underline">Forgot Password ?</a>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-12">
                <div class="text-end">
                <form
                    method="post"
                    action="{{ path('admin_user_delete', {'user': user.id}) }}"
                    onsubmit="return confirm('Voulez-vous changer votre mot de passe?');"
                >
                    <input
                        type="hidden"
                        name="_token"
                        value="{{ csrf_token('user_reset_password_' ~ user.id) }}"
                    >
                    <button class="dropdown-item remove-item-btn"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Supprimer</button>
                </form>
                    <button type="submit" class="btn btn-success">Change Password</button>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    {{form_end(reset_password_form)}}
</div>